::-webkit-scrollbar {
  transition: all 300ms ease-out;
  width: 10px;
}

/* ::-webkit-scrollbar:hover {
  width: 10px;
} */

/* Track */
/* 
::-webkit-scrollbar-track:hover {
  box-shadow: inset 0 0 5px beige;
  border-radius: 10px;
}  */

/* Handle */
::-webkit-scrollbar-thumb {
  transition: all 300ms ease-out;
  background: #d4d4d4;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b1afaf;
}
